# Error analysis

In [1]:
#dependencies
import pandas as pd
from label_legends.preprocess import load_test, load_data, transform, load_train
from label_legends.result import load_predictions, get_current, load_predictions
import json
import os

c:\Users\noika\Documents\NLP project\label_legends\nlp-ie-label-legends\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
tra = load_train().collect()
train = tra.to_pandas()
train

,id,rewire_id,text,annotator,label_sexist,label_category,label_vector,split,tokens
0,0,sexism2022_english-0,I wonder what keeps that witch looking quite ...,17,sexist,2. derogation,2.2 aggressive and emotive attacks,train,"[i, wonder, what, keep, that, witch, look, qui..."
1,1,sexism2022_english-0,I wonder what keeps that witch looking quite ...,2,sexist,2. derogation,2.2 aggressive and emotive attacks,train,"[i, wonder, what, keep, that, witch, look, qui..."
2,10,sexism2022_english-100,"Good for her! My grandson had acid reflux, but...",3,not sexist,none,none,train,"[good, for, her, !, my, grandson, have, acid, ..."
3,1000,sexism2022_english-10297,The article said Madonna offered to give anyon...,5,sexist,2. derogation,2.3 dehumanising attacks & overt sexual object...,train,"[the, article, say, madonna, offer, to, give, ..."
4,10000,sexism2022_english-12998,Gasoline. The answer 60% of America gives when...,8,not sexist,none,none,train,"[gasoline, ., the, answer, 60, %, of, america,..."
...,...,...,...,...,...,...,...,...,...
41995,9992,sexism2022_english-12995,"haha woman suck amirite. it's like, obviously ...",1,sexist,2. derogation,2.1 descriptive attacks,train,"[haha, woman, suck, amirite, ., it, be, like, ..."
41996,9996,sexism2022_english-12997,You mean one that forces women to like wimpy f...,6,not sexist,none,none,train,"[you, mean, one, that, force, woman, to, like,..."
41997,9997,sexism2022_english-12997,You mean one that forces women to like wimpy f...,4,not sexist,none,none,train,"[you, mean, one, that, force, woman, to, like,..."
41998,9998,sexism2022_english-12997,You mean one that forces women to like wimpy f...,2,sexist,3. animosity,3.2 immutable gender differences and gender st...,train,"[you, mean, one, that, force, woman, to, like,..."
41999,9999,sexism2022_english-12998,Gasoline. The answer 60% of America gives when...,9,sexist,"1. threats, plans to harm and incitement",1.1 threats of harm,train,"[gasoline, ., the, answer, 60, %, of, america,..."

In [3]:
original = load_test().collect()
original = original.drop(["rewire_id", "label_category","label_vector","annotator"])
og_test = transform(original)
og_test

c:\Users\noika\Documents\NLP project\label_legends\nlp-ie-label-legends\.venv\Lib\site-packages\sklearn\feature_extraction\text.py:521: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

shape: (12_000, 5)
┌───────┬─────────────────────────────┬─────────────────────────────┬──────────────────────┬───────┐
│ id    ┆ text                        ┆ tokens                      ┆ token_ids            ┆ label │
│ ---   ┆ ---                         ┆ ---                         ┆ ---                  ┆ ---   │
│ i64   ┆ str                         ┆ list[str]                   ┆ list[i64]            ┆ i64   │
╞═══════╪═════════════════════════════╪═════════════════════════════╪══════════════════════╪═══════╡
│ 100   ┆ It is not insulting, it's   ┆ ["insulting", ",", … ".**"] ┆ [1407, 22, … 3000]   ┆ 1     │
│       ┆ **ex…                       ┆                             ┆                      ┆       │
│ 10005 ┆ and if you buy into the     ┆ ["buy", "christianity", …   ┆ [464, 549, … 27]     ┆ 0     │
│       ┆ Christ…                     ┆ ".."…                       ┆                      ┆       │
│ 10006 ┆ and if you buy into the     ┆ ["buy", "christianity", …   ┆ [464, 549, … 27]     ┆ 0     │
│       ┆ Christ…                     ┆ ".."…                       ┆                      ┆       │
│ 10007 ┆ and if you buy into the     ┆ ["buy", "christianity", …   ┆ [464, 549, … 27]     ┆ 0     │
│       ┆ Christ…                     ┆ ".."…                       ┆                      ┆       │
│ 10008 ┆ Given the sub this is       ┆ ["sub", "post", … "shit"]   ┆ [2591, 2042, … 2399] ┆ 0     │
│       ┆ posted i…                   ┆                             ┆                      ┆       │
│ …     ┆ …                           ┆ …                           ┆ …                    ┆ …     │
│ 9985  ┆ Today in leftist violence,  ┆ ["today", "leftist", … "."] ┆ [2714, 1553, … 26]   ┆ 0     │
│       ┆ Dan…                        ┆                             ┆                      ┆       │
│ 9986  ┆ Today in leftist violence,  ┆ ["today", "leftist", … "."] ┆ [2714, 1553, … 26]   ┆ 0     │
│       ┆ Dan…                        ┆                             ┆                      ┆       │
│ 9993  ┆ Shudder.. if you had to     ┆ ["shudder", "..", … "."]    ┆ [3000, 27, … 26]     ┆ 1     │
│       ┆ have s…                     ┆                             ┆                      ┆       │
│ 9994  ┆ Shudder.. if you had to     ┆ ["shudder", "..", … "."]    ┆ [3000, 27, … 26]     ┆ 0     │
│       ┆ have s…                     ┆                             ┆                      ┆       │
│ 9995  ┆ Shudder.. if you had to     ┆ ["shudder", "..", … "."]    ┆ [3000, 27, … 26]     ┆ 1     │
│       ┆ have s…                     ┆                             ┆                      ┆       │
└───────┴─────────────────────────────┴─────────────────────────────┴──────────────────────┴───────┘

In [4]:
min(og_test["id"])
max(og_test["id"])

59996

In [5]:
main_folder = r"../resource/mlflow"

final_df = None

for dir in os.listdir(main_folder):
    path = os.path.join(main_folder, dir)

    if os.path.isdir(path):
        #get the final path to the json file
        json_file_path = os.path.join(path, "predictions.json")

        #loading the json file
        if os.path.exists(json_file_path):
            with open(json_file_path, "r") as file:
                data = json.load(file)

            df = pd.DataFrame(data["data"], columns=["id", f"model_{dir}_pred"])

            #merge the dataframes
            if final_df is None:
                final_df = df
            else:
                final_df = pd.merge(final_df, df, on="id", how="outer")

og_test = og_test.to_pandas()
final_df = pd.merge(og_test, final_df, on="id", how="outer")
final_df

,id,text,tokens,token_ids,label,model_DeBERTa_pred,model_distilbert_pred,model_mostfrequent_pred,model_Regex_pred,model_xgboost_pred
0,27,Happy Birthday to your daughter GTR😊,"[happy, birthday, daughter, gtr, 😊]","[1238, 363, 747, 3000, 2996]",0,0,0,0,0,0
1,28,Happy Birthday to your daughter GTR😊,"[happy, birthday, daughter, gtr, 😊]","[1238, 363, 747, 3000, 2996]",0,0,0,0,0,0
2,29,Happy Birthday to your daughter GTR😊,"[happy, birthday, daughter, gtr, 😊]","[1238, 363, 747, 3000, 2996]",0,0,0,0,0,0
3,30,NEGRO Baltimore mayor and NEGRO police commiss...,"[negro, baltimore, mayor, negro, police, commi...","[1823, 3000, 1680, 1823, 2022, 3000, 3000, 182...",0,0,0,0,1,0
4,31,NEGRO Baltimore mayor and NEGRO police commiss...,"[negro, baltimore, mayor, negro, police, commi...","[1823, 3000, 1680, 1823, 2022, 3000, 3000, 182...",0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...
11995,59992,"You can stop right there asshole, she is a mar...","[stop, right, asshole, ,, married, woman, fami...","[2567, 2274, 257, 22, 1661, 2937, 1020, 26]",0,0,0,0,1,0
11996,59993,"You can stop right there asshole, she is a mar...","[stop, right, asshole, ,, married, woman, fami...","[2567, 2274, 257, 22, 1661, 2937, 1020, 26]",0,0,0,0,1,0
11997,59994,"Since 1973, America has sanctioned the murder ...","[1973, ,, america, sanction, murder, 58, milli...","[3000, 22, 195, 3000, 1782, 3000, 1722, 536, 1...",1,0,0,0,1,0
11998,59995,"Since 1973, America has sanctioned the murder ...","[1973, ,, america, sanction, murder, 58, milli...","[3000, 22, 195, 3000, 1782, 3000, 1722, 536, 1...",1,0,0,0,1,0
11999,59996,"Since 1973, America has sanctioned the murder ...","[1973, ,, america, sanction, murder, 58, milli...","[3000, 22, 195, 3000, 1782, 3000, 1722, 536, 1...",0,0,0,0,1,0

In [6]:
final_df["error_level"] = 5

for i, row in final_df.iterrows():
    true_label = row["label"]
    true_label_count = 0
    for column in final_df.columns:
        if "model" in column:
            pred_label = row[column]
            if pred_label == true_label:
                true_label_count += 1
    final_df.at[i,"error_level"] = 5 - true_label_count

final_df

,id,text,tokens,token_ids,label,model_DeBERTa_pred,model_distilbert_pred,model_mostfrequent_pred,model_Regex_pred,model_xgboost_pred,error_level
0,27,Happy Birthday to your daughter GTR😊,"[happy, birthday, daughter, gtr, 😊]","[1238, 363, 747, 3000, 2996]",0,0,0,0,0,0,0
1,28,Happy Birthday to your daughter GTR😊,"[happy, birthday, daughter, gtr, 😊]","[1238, 363, 747, 3000, 2996]",0,0,0,0,0,0,0
2,29,Happy Birthday to your daughter GTR😊,"[happy, birthday, daughter, gtr, 😊]","[1238, 363, 747, 3000, 2996]",0,0,0,0,0,0,0
3,30,NEGRO Baltimore mayor and NEGRO police commiss...,"[negro, baltimore, mayor, negro, police, commi...","[1823, 3000, 1680, 1823, 2022, 3000, 3000, 182...",0,0,0,0,1,0,1
4,31,NEGRO Baltimore mayor and NEGRO police commiss...,"[negro, baltimore, mayor, negro, police, commi...","[1823, 3000, 1680, 1823, 2022, 3000, 3000, 182...",0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...
11995,59992,"You can stop right there asshole, she is a mar...","[stop, right, asshole, ,, married, woman, fami...","[2567, 2274, 257, 22, 1661, 2937, 1020, 26]",0,0,0,0,1,0,1
11996,59993,"You can stop right there asshole, she is a mar...","[stop, right, asshole, ,, married, woman, fami...","[2567, 2274, 257, 22, 1661, 2937, 1020, 26]",0,0,0,0,1,0,1
11997,59994,"Since 1973, America has sanctioned the murder ...","[1973, ,, america, sanction, murder, 58, milli...","[3000, 22, 195, 3000, 1782, 3000, 1722, 536, 1...",1,0,0,0,1,0,4
11998,59995,"Since 1973, America has sanctioned the murder ...","[1973, ,, america, sanction, murder, 58, milli...","[3000, 22, 195, 3000, 1782, 3000, 1722, 536, 1...",1,0,0,0,1,0,4
11999,59996,"Since 1973, America has sanctioned the murder ...","[1973, ,, america, sanction, murder, 58, milli...","[3000, 22, 195, 3000, 1782, 3000, 1722, 536, 1...",0,0,0,0,1,0,1

## Error level 5

In [7]:
final_df = final_df.sort_values(by="error_level", ascending=False)
error_df = final_df[final_df['error_level'] == 5]
display(error_df)

,id,text,tokens,token_ids,label,model_DeBERTa_pred,model_distilbert_pred,model_mostfrequent_pred,model_Regex_pred,model_xgboost_pred,error_level
11984,59951,NOT MY PROBLEM LOL I doubt it is as bad as rep...,"[problem, lol, doubt, bad, reput, ..., know, i...","[2090, 1602, 859, 297, 3000, 28, 1511, 1434, 2...",1,0,0,0,0,0,5
11102,55439,Yeah right 🤣🤣🤣. Guys who keep female friends a...,"[yeah, right, 🤣🤣🤣, ., guy, female, friend, guy...","[2966, 2274, 3000, 26, 1215, 1047, 1113, 1215,...",1,0,0,0,0,0,5
11101,55438,Yeah right 🤣🤣🤣. Guys who keep female friends a...,"[yeah, right, 🤣🤣🤣, ., guy, female, friend, guy...","[2966, 2274, 3000, 26, 1215, 1047, 1113, 1215,...",1,0,0,0,0,0,5
11100,55437,Yeah right 🤣🤣🤣. Guys who keep female friends a...,"[yeah, right, 🤣🤣🤣, ., guy, female, friend, guy...","[2966, 2274, 3000, 26, 1215, 1047, 1113, 1215,...",1,0,0,0,0,0,5
1216,6097,One look at this woman and it is obvious why s...,"[look, woman, obvious, hate, men, .]","[1607, 2937, 1871, 1249, 1699, 26]",1,0,0,0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...
11122,55483,Yeah I've never seen a black women that even c...,"[yeah, black, woman, compare, dana, .]","[2966, 369, 2937, 612, 3000, 26]",1,0,0,0,0,0,5
11157,55599,She wanted to adopt so that she could play wit...,"[want, adopt, play, child, husband, pay, .]","[2879, 150, 2012, 536, 1329, 1949, 26]",1,0,0,0,0,0,5
11959,59788,"Don’t misunderstand me, I love my mother to de...","[misunderstand, ,, love, mother, death, ., tim...","[3000, 22, 1616, 1764, 755, 26, 2707, 22, 1579...",1,0,0,0,0,0,5
11958,59787,"Don’t misunderstand me, I love my mother to de...","[misunderstand, ,, love, mother, death, ., tim...","[3000, 22, 1616, 1764, 755, 26, 2707, 22, 1579...",1,0,0,0,0,0,5
11982,59949,NOT MY PROBLEM LOL I doubt it is as bad as rep...,"[problem, lol, doubt, bad, reput, ..., know, i...","[2090, 1602, 859, 297, 3000, 28, 1511, 1434, 2...",1,0,0,0,0,0,5

In [8]:
from collections import Counter

def count_tokens(tokens):
    return dict(Counter(tokens))

df = pd.DataFrame()
df["id"]= final_df["id"]
df["text"]= final_df["text"]
df["error_level"] = final_df["error_level"]
df['token_counts'] = final_df['tokens'].apply(count_tokens)
df

,id,text,error_level,token_counts
11984,59951,NOT MY PROBLEM LOL I doubt it is as bad as rep...,5,"{'problem': 1, 'lol': 1, 'doubt': 1, 'bad': 1,..."
11102,55439,Yeah right 🤣🤣🤣. Guys who keep female friends a...,5,"{'yeah': 1, 'right': 1, '🤣🤣🤣': 1, '.': 3, 'guy..."
11101,55438,Yeah right 🤣🤣🤣. Guys who keep female friends a...,5,"{'yeah': 1, 'right': 1, '🤣🤣🤣': 1, '.': 3, 'guy..."
11100,55437,Yeah right 🤣🤣🤣. Guys who keep female friends a...,5,"{'yeah': 1, 'right': 1, '🤣🤣🤣': 1, '.': 3, 'guy..."
1216,6097,One look at this woman and it is obvious why s...,5,"{'look': 1, 'woman': 1, 'obvious': 1, 'hate': ..."
...,...,...,...,...
7361,36623,"Actually a she bro, imagine being born on tuto...",0,"{'actually': 1, 'bro': 1, ',': 1, 'imagine': 1..."
7360,36622,"Actually a she bro, imagine being born on tuto...",0,"{'actually': 1, 'bro': 1, ',': 1, 'imagine': 1..."
7359,36621,"Actually a she bro, imagine being born on tuto...",0,"{'actually': 1, 'bro': 1, ',': 1, 'imagine': 1..."
7355,36608,Libertarian VP Weld has come out as a flaming ...,0,"{'libertarian': 1, 'vp': 1, 'weld': 1, 'come':..."
7354,36607,Libertarian VP Weld has come out as a flaming ...,0,"{'libertarian': 1, 'vp': 1, 'weld': 1, 'come':..."

### Are all test tokens in train tokens?

In [9]:
train_tokens = set(token for tokens in train["tokens"] for token in tokens)

# Flatten and get unique tokens from the test dataset
test_tokens = set(token for tokens in final_df["tokens"] for token in tokens)

error_tokens = set(token for tokens in error_df["tokens"] for token in tokens)

# Find tokens in the test dataset that are not in the train dataset
missing_tokens = test_tokens - train_tokens
len(missing_tokens)

error_in_missing = error_tokens.intersection(missing_tokens)
error_token_rate = len(error_in_missing) / len(error_tokens) if len(error_tokens) > 0 else 0
error_token_rate

0.13470471134704712

In [10]:
from collections import Counter

#list of all the token in error_df
all_tokens = [token for tokens in error_df['tokens'] for token in tokens]

#count each token in the list
token_counts = Counter(all_tokens)

#sort the dataframe
token_count_df = pd.DataFrame(token_counts.items(), columns=['token', 'count'])
token_count_df = token_count_df.sort_values(by='count', ascending=False)

print(token_count_df.head(20))

      token  count
12        .    582
24        ,    325
8     woman    153
69        ?     85
330       "     68
71     girl     64
119     man     57
151    like     56
81     just     51
5       ...     49
32      say     45
34        -     39
17   female     38
19     good     37
27     look     36
303       #     33
452       :     31
67    think     30
46        !     30
84     make     28

## Error levels 4 and 5

In [11]:
high_error_df = final_df[final_df['error_level'] > 3]
display(high_error_df)

,id,text,tokens,token_ids,label,model_DeBERTa_pred,model_distilbert_pred,model_mostfrequent_pred,model_Regex_pred,model_xgboost_pred,error_level
11984,59951,NOT MY PROBLEM LOL I doubt it is as bad as rep...,"[problem, lol, doubt, bad, reput, ..., know, i...","[2090, 1602, 859, 297, 3000, 28, 1511, 1434, 2...",1,0,0,0,0,0,5
11102,55439,Yeah right 🤣🤣🤣. Guys who keep female friends a...,"[yeah, right, 🤣🤣🤣, ., guy, female, friend, guy...","[2966, 2274, 3000, 26, 1215, 1047, 1113, 1215,...",1,0,0,0,0,0,5
11101,55438,Yeah right 🤣🤣🤣. Guys who keep female friends a...,"[yeah, right, 🤣🤣🤣, ., guy, female, friend, guy...","[2966, 2274, 3000, 26, 1215, 1047, 1113, 1215,...",1,0,0,0,0,0,5
11100,55437,Yeah right 🤣🤣🤣. Guys who keep female friends a...,"[yeah, right, 🤣🤣🤣, ., guy, female, friend, guy...","[2966, 2274, 3000, 26, 1215, 1047, 1113, 1215,...",1,0,0,0,0,0,5
1216,6097,One look at this woman and it is obvious why s...,"[look, woman, obvious, hate, men, .]","[1607, 2937, 1871, 1249, 1699, 26]",1,0,0,0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...
7297,36328,Hasn't even been 3 months Keep vetting for red...,"[3, month, vetting, red, flag, female, job, pu...","[66, 1756, 3000, 2203, 1073, 1047, 1468, 2137,...",1,1,0,0,0,0,4
7296,36327,Hasn't even been 3 months Keep vetting for red...,"[3, month, vetting, red, flag, female, job, pu...","[66, 1756, 3000, 2203, 1073, 1047, 1468, 2137,...",1,1,0,0,0,0,4
7391,36785,I see. I hope that your balls are metaphorical...,"[., hope, ball, metaphorical, ,, little, lady, .]","[26, 1305, 303, 3000, 22, 1589, 1520, 26]",1,0,0,0,1,0,4
7390,36784,I see. I hope that your balls are metaphorical...,"[., hope, ball, metaphorical, ,, little, lady, .]","[26, 1305, 303, 3000, 22, 1589, 1520, 26]",1,0,0,0,1,0,4
7324,36499,Zionist porker related to Chuck 'the schmuck' ...,"[zionist, porker, related, chuck, ', schmuck, ...","[3000, 3000, 2219, 3000, 13, 3000, 13, 3000, 2...",1,0,0,0,1,0,4

In [13]:
high_error_tokens = set(token for tokens in high_error_df["tokens"] for token in tokens)

# Find tokens in the test dataset that are not in the train dataset
missing_tokens = test_tokens - train_tokens
len(missing_tokens)

high_error_in_missing = high_error_tokens.intersection(missing_tokens)
high_error_token_rate = len(high_error_in_missing) / len(high_error_tokens) if len(high_error_tokens) > 0 else 0
print(f"The rate of how many token were not in the training tokens from the misclassified ones: {high_error_token_rate}")

The rate of how many token were not in the training tokens from the misclassified ones: 0.1641742522756827

In [14]:
all_tokens_high = [token for tokens in high_error_df['tokens'] for token in tokens]

#count each token in the list
high_token_counts = Counter(all_tokens_high)

#sort the dataframe
high_token_count_df = pd.DataFrame(high_token_counts.items(), columns=['token', 'count'])
high_token_count_df = high_token_count_df.sort_values(by='count', ascending=False)

print(high_token_count_df.head(20))

       token  count
12         .   1755
24         ,    925
8      woman    502
330        "    259
69         ?    234
71      girl    168
119      man    166
151     like    162
81      just    137
34         -    124
32       say    104
5        ...    102
1592    fuck    101
6       know     98
46         !     97
19      good     95
17    female     90
358     want     84
303        #     81
84      make     80

### Saving the texts from error levels 4 and 5

In [23]:
high_error_texts = pd.DataFrame(high_error_df, columns=["text"])
high_error_texts.drop_duplicates(inplace=True)
high_error_texts.to_csv(r"../resource/high_error_texts.csv")